<%= form_for(@stau) do |f| %>
  <% if @stau.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stau.errors.count, "error") %> prohibited this stau from being saved:</h2>

      <ul>
      <% @stau.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
