<h1>Listing staus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staus.each do |stau| %>
  <tr>
    <td><%= stau.name %></td>
    <td><%= stau.content %></td>
    <td><%= link_to 'Show', stau %></td>
    <td><%= link_to 'Edit', edit_stau_path(stau) %></td>
    <td><%= link_to 'Destroy', stau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stau', new_stau_path %>
